:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --heading-color: #eee;
  --font-color: #c2d0da;
  --bg-color: #232220;
}

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a:hover {
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.1em;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.sub-title {
  font-size: 3.8rem;
  color: white;
  line-height: 4.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.desc {
  color: var(--font-color);
  font-size: 1.8rem;
}

/* Header */
header {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url("../images/banner1.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
  z-index: 2;
}

.header__nav {
  padding: 4rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav--left a {
  font-size: 3.6rem;
  color: white;
  font-weight: 700;
}

.header__nav--left a:hover {
  text-decoration: none;
}

.header__nav--right {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.header__search {
  position: relative;
}

.header__search input {
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--bg-color);
  outline: none;
  border-radius: 0.6rem;
  border: none;
  padding: 1rem 5rem 1rem 2rem;
}

.header__search--icon {
  position: absolute;
  font-size: 1.6rem;
  color: var(--font-color);
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header__display-mode i,
.header__nav--button i {
  color: white;
  cursor: pointer;
}

.header__display-mode i {
  font-size: 2.5rem;
}

.header__nav--button i {
  font-size: 3rem;
}

.header__content {
  max-width: 60rem;
  text-align: left;
  margin-top: 10rem;
}

.header__content h1 {
  font-size: 5.4rem;
  line-height: 6.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}

.header__content p {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: white;
}

.header__button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  padding: 1.5rem 4.7rem;
  text-transform: capitalize;
  font-weight: 800;
  background-color: transparent;
  border: 0.2rem solid white;
  color: white;
  border-radius: 0.6rem;
  margin-top: 4.8rem;
  transition: 0.3s ease-in;
}

.header__button i {
  font-size: 2rem;
}

.header__button:hover {
  color: var(--primary-color);
  background-color: white;
}
/* End Header */

/* Overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(6 3 0 / 77%);
  transform: scale(0.9);
  transition: all 0.5s;
  opacity: 0;
}

.overlay-active {
  z-index: 3;
  transform: scale(1);
  transition: all 0.5s;
  opacity: 1;
}

.overlay-close {
  position: absolute;
  right: 6rem;
  top: 6rem;
  z-index: 2;
  color: white;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  border: 0.1rem solid var(--primary-color);
}

.overlay-nav {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.overlay-nav li a {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
  padding: 1rem;
  text-transform: capitalize;
}

.overlay-nav li a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

/* Overlay end*/

/* About */
.about {
  padding: 8rem 0;
  background-color: var(--bg-color);

  position: relative;
  z-index: 2;
}
/* About end */

/* Agent block */
.agent-block {
  position: relative;
  z-index: 2;
}

.agent-block__right {
  position: relative;
  background-image: url("../images/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.agent-block__right::after {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
}

.agent-block__left {
  background-color: var(--primary-color);
  padding: 6rem 7rem 6rem 4rem;
}

.agent-block__left img {
  display: none;
}

.agent-block__left .title {
  color: white;
}

.agent-block__best {
  display: flex;
  justify-content: left;
  gap: 3rem;
  color: white;
  margin-top: 4rem;
}

.agent-block__best-left:hover .agent-block__icon i,
.agent-block__best-right:hover .agent-block__icon i {
  color: #ffc600;
}

.agent-block__icon i {
  font-size: 2rem;
  color: var(--primary-color);
  padding: 2rem;
  background-color: white;
  border-radius: 0.6rem;
  margin-bottom: 2.4rem;
}

.agent-block__title {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
}

.agent-block__desc {
  font-size: 1.8rem;
  color: var(--font-color);
}

/* Agent block end */

/* Categories */
.categories {
  padding: 10rem 0;
  background-color: #282828;
  position: relative;
  z-index: 2;
}

.categories-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.categories-item:nth-child(1),
.categories-item:nth-child(2),
.categories-item:nth-child(3) {
  margin-bottom: 3rem;
}

.categories-picture {
  position: relative;
}

.categories-picture::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.categories-picture:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-picture img {
  width: 100%;
  border-radius: 0.6rem;
}

.categories-content {
  position: absolute;
  left: 6rem;
  bottom: 4rem;
}

.categories-content a {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
}

.categories-content h6 {
  font-size: 2rem;
  color: #ffc600;
  font-weight: 600;
}
/* Categories end */

/* Features */
.features {
  padding: 10rem 0;
  background-color: var(--bg-color);
  position: relative;
  z-index: 2;
}

.feature-item {
  padding: 1rem;
}

.feature__box-wrap {
  padding: 3rem;
  border: 0.1rem solid rgba(240, 236, 236, 0.1);
  border-radius: 0.6rem;
}

.feature__box-icon {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.feature__box-icon:hover .feature-icon i {
  color: white;
  background-color: var(--primary-color);
}

.feature-icon i {
  font-size: 2.2rem;
  color: var(--primary-color);
  padding: 2rem;
  background-color: #282828;
  border-radius: 0.6rem;
  transition: all 0.5s;
}

.feature-dish h6 {
  font-size: 1.8rem;
  color: var(--font-color);
}

.feature-dish h5 {
  color: white;
  text-transform: capitalize;
  font-size: 2.4rem;
  margin-top: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.feature-desc p {
  font-size: 1.8rem;
  color: var(--font-color);
  margin-top: 2rem;
}

/* Features end */

/* Middle */
#middle {
  background-image: url(./../images/banner2.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
}
#middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ad;
  z-index: -1;
}

.middle {
  padding: 1rem 2rem;
}

.middle__content {
  max-width: 700px;
  margin: 0 auto;
}

.middle h3 {
  color: white;
  font-size: 5rem;
}

.middle__btn a {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 3rem;
  transition: all 0.5s;
  margin-bottom: 5rem;
}

.middle__btn a.btn-left:hover {
  background-color: white;
  color: #ff6600;
}

.middle__btn a.btn-right {
  background-color: #ff6600;
  border-color: #ff6600;
}

.middle__btn a.btn-right:hover {
  opacity: 0.7;
  color: white;
}

/* Middle end */

/* Count */
#count {
  background-color: var(--bg-color);
}

.count__content {
  position: relative;
  z-index: 2;
}

.count__item {
  padding: 4rem 4rem;
  text-align: center;
  color: white;
  background-color: var(--bg-color);
  box-shadow: #00000014 1px 1px 5px 0px;
  transition: all 0.5s;
}

.count__item:hover {
  transform: translateY(-5px);
  box-shadow: #ffffff26 0px 2px 10px -4px;
}

.count__item i {
  font-size: 3rem;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  background-color: #ff6600;
  border-radius: 50%;
  margin-bottom: 10px;
}

.count__item span {
  font-size: 4rem;
  font-weight: 600;
}

/* Count end */

/* Video */
#video {
  background-color: var(--bg-color);
  position: relative;
  z-index: 2;
}

.video__content {
  background-image: url(./../images/banner3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: grid;
  align-items: center;
  position: relative;
  z-index: 1;
}

.video__content::before {
  content: "";
  position: absolute;
  background-color: #00000073;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video__content i {
  width: 80px;
  height: 80px;
  background-color: white;
  line-height: 80px;
  border-radius: 50%;
  color: #ff6600;
  transition: 0.5s ease-in-out;
  animation-name: borderplay;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.video__content i:hover {
  transform: scale(1.2);
  background-color: #ff6600;
  color: white;
}
/* Video end */

/* Blog */
#blog {
  background-color: #282828;
  position: relative;
  z-index: 2;
}

.blog__item {
  background-color: transparent;
  border: none;
}

.blog__item img {
  width: 100%;
  border-radius: 7px;
}

.card__header-text {
  bottom: 10px;
  left: 10px;
}

.card__header-text a {
  width: 90px;
  height: 25px;
  line-height: 25px;
  background-color: #ff6600;
  display: inline-block;
  font-size: 13px;
  font-weight: 800;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.card__header-text span {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.card-body h4 {
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.card-body p {
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.card__footer-left a:first-child {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.card__footer-left img {
  border-radius: 50%;
}

.card__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.card__footer a {
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.card__footer a:last-child:hover {
  color: #ff6600;
}
/* Blog end */

/* Testimonial */
#testimonial {
  background-color: var(--bg-color);
  position: relative;
  z-index: 2;
}

.testimonial__item {
  max-width: 700px;
  margin: auto;
}

#testimonial .testimonial__item img {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.testimonial__item span {
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.testimonial__item span::before {
  content: "''";
  display: block;
  color: #ff6600;
  font-size: 50px;
}

.testimonial__item p {
  color: #c2d0da;
  font-size: 18px;
  margin: 2rem 0;
}

.testimonial__item h3 {
  color: white;
  font-weight: 600;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #ff6600;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff6600;
}
/* testimonial end */

/* footer */
footer {
  background-color: #000;
  position: relative;
  z-index: 2;
}

.footer__content-1 a.footer-a-1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.footer__content-1 a.footer-a-1:hover {
  color: #ff6600;
}

.footer__content-1 p,
.footer__content-3 p {
  color: #a5a2a1;
  font-size: 16px;
}

.footer__icon ul li {
  display: inline;
}

.footer__icon i {
  color: #ff6600;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #282828;
  text-align: center;
  font-size: 17px;
  border-radius: 12px;
  margin-right: 10px;
}

.footer__icon i:hover {
  background-color: #ff6600;
  color: #fff;
}

.footer__content-2 h3,
.footer__content-3 h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.footer__content-2 li {
  margin-bottom: 10px;
}

.footer__content-2 a {
  color: #a5a2a1;
  font-size: 17px;
}

.footer__content-2 a:hover {
  color: #ff6600;
}

.footer__content-3 input {
  display: block;
  width: 100%;
  padding: 13px 20px;
  background-color: #232323;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  color: #fff;
}

.footer__content-3 button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ff6600;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: none;
}

.footer__content-3 button:hover {
  opacity: 0.8;
}

.coppy__right {
  border-top: 1px solid #ffffff30;
}

.coppy__right-1 p {
  color: #fff;
  font-size: 17px;
}

.coppy__right-1 a {
  color: #ff6600;
}

.coppy__right-1 a:hover {
  color: #fff;
}

.coppy__right-2 a {
  color: #fff;
  font-size: 17px;
  margin-right: 20px;
}

.coppy__right-2 a:hover {
  color: #ff6600;
}
/* footer end */

.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #ff6600;
  text-align: center;
  align-items: center;
  line-height: 50px;
  border-radius: 50%;
  visibility: hidden;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

/* Style Magnific */
.mfp-content {
  text-align: center;
}

/* Animation */
@keyframes borderplay {
  from {
    box-shadow: #ffffff40 0 0 0 0, #ffffff40 0 0 0 10px, #ffffff40 0 0 0 20px;
  }
  to {
    box-shadow: #ffffff40 0 0 0 10px, #ffffff40 0 0 0 20px, #ffffff00 0 0 0 40px;
  }
}

/* Responsive */

@media (max-width: 991px) {
  .agent-block__left img {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.6rem;
  }

  .agent-block__left {
    padding: 6rem;
  }
}

/* => 769px & <= 992px */
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 55%;
  }

  header {
    min-height: 555px;
  }
}

@media (min-width: 992px) {
  .count__content {
    margin-top: -100px;
  }
}

/* => 576px & <= 768px */

@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  header {
    min-height: 510px;
  }
}

/* <= 576px */

@media (max-width: 576px) {
  html {
    font-size: 45%;
  }

  header {
    min-height: 480px;
  }

  .header__search {
    display: none;
  }
}
